body {
    margin: 0px;
    padding: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: palevioletred;
    padding: 6px 30px 2px;
}

.header .left {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
}

.header .right {
    flex-shrink: 0;
}

.logo img {
    max-width: 75px;
    border-radius: 50%;
}

.catsheader {
    color: rgb(41, 65, 65);
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    text-decoration-line: underline overline;
    text-decoration-thickness: 10px;
}

ul {
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 30px;
}

ul a {
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;
    color: rgb(41, 65, 65);
}

.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 350px;
    background-color: mistyrose;
    gap: 50px;
}

.section1 .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family:'Courier New', Courier, monospace;
    min-width: 500px;
}

.section1 .left .title {
    color: mediumvioletred;
}

.section1 .left .text {
    color: darkslategray;
    padding-bottom: 20px;
}

.section1 .left .button button {
    padding: 10px 20px;
    background-color: palevioletred;
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
    border-width: 0px;
    border-radius: 25px;
}

.section1 .right img {
    max-width: 500px;
    border-radius: 25px;
}

.section2 {
    background-color: lightpink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 95px 0px 150px 0px;
    gap: 50px;
}

.section2 .container {
  display: flex;
  gap: 80px;
  justify-content: center;
  flex-wrap: wrap;
}

.section2 .container .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    max-width: 225px;
    height: 275px;
}

.item .text {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: darkslategray;
}

.item img {
    max-width: 225px;
    border-radius: 25px;
    border: 5px solid palevioletred;
}

.section2 .title2 {
    font-family:'Courier New', Courier, monospace;
    color: mediumvioletred;
    font-size: 32px;
    font-weight: bold;
    flex-shrink: 0;
}

.section3 {
    background-color: mistyrose;
    padding: 80px 0px;
    display: flex;
    justify-content: center;
}

.section3 .quote {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: mediumvioletred;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.section3 .quote .author {
    font-size: 20px;
    font-weight: bold;
    color: darkslategray;
}

.section4 {
    background-color: palevioletred;
    margin: 80px 350px;
    padding: 50px 100px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.section4 .calltoaction {
    font-family:'Courier New', Courier, monospace;
    color: white;
}

.calltoaction .text1 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 8px;
}

.section4 button {
    font-family:'Courier New', Courier, monospace;
    background-color: palevioletred;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 25px;
    font-weight: bold;
    color: white;
    font-size: 18px;
    flex-shrink: 0;
}